{%-liquid
  assign ss         =     section.settings
  assign scssFile   =     'annoucement.scss.css' | asset_url
  assign globalJs   =     'global.js' | asset_url

  echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'

  if ss.showHideSec

    assign shouldShow   =   false
    if request.page_type == '404' and ss.page_404
      assign shouldShow   =   true
    elsif request.page_type == 'article' and ss.page_article
      assign shouldShow   =   true
    elsif request.page_type == 'blog' and ss.page_blog
      assign shouldShow   =   true
    elsif request.page_type == 'cart' and ss.page_cart
      assign shouldShow   =   true
    elsif request.page_type == 'collection' and ss.page_collection
      assign shouldShow   =   true
    elsif request.page_type == 'index' and ss.page_index
      assign shouldShow   =   true
    elsif request.page_type == 'product' and ss.page_product
      assign shouldShow   =   true
    elsif request.page_type == 'search' and ss.page_search
      assign shouldShow   =   true
    endif

    if shouldShow
      echo '<div class="_announcementContent_">'
        echo '<a href="' | append: ss.link | default: 'javascript://' | append: '">'
          echo ss.title
        echo '</a>'
      echo '</div>'

      echo '<div class="_close_"><svg viewBox="0 0 50 50"><g><polygon points="2.707,48.707 25,26.414 47.293,48.707 48.707,47.293 26.414,25 48.707,2.707 47.293,1.293 25,23.586 2.707,1.293 1.293,2.707 23.586,25 1.293,47.293"/></g><g/></svg></div>'

      echo '<style>'
        echo '.annoucementBar{background-color: ' | append: ss.bgColor | append: '}'
      echo '</style>'

      echo '<script src="' | append: globalJs | append: '"></script>'

    else

      echo '<style>.annoucementBar{display:none;}</style>'

    endif

  else
    echo '<style>.annoucementBar{display:none;}</style>'
  endif
-%}

{% if ss.showHideSec %}
  <script>
    $(()=> {
      require( `${ asset_url }__sec_annoucement.js` );
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "class": "annoucementBar",
	"settings": [
		{
			"type"      :   "checkbox",
			"id"        :   "showHideSec",
			"label"     :   "Show / Hide Section",
			"default"   :   true
		},
    {
      "type"      :   "textarea",
      "id"        :   "title",
      "label"     :   "Annoucement Content",
      "default"   :   "Rotimatic now available with easy monthly instalments!"
    },
    {
      "type"      :   "url",
      "id"        :   "link",
      "label"     :   "Annoucement Link"
    },
    {
      "type"      :   "checkbox",
      "id"        :   "closeBtn_showHide",
      "label"     :   "Close Button Show / Hide",
      "default"   :   true
    },
    {
      "type"      :   "color",
      "id"        :   "bgColor",
      "label"     :   "Background Color",
      "default"   :   "#f8630b"
    },
    {
      "type"      :   "header",
      "content"   :   "Select Page where it should appear"
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_404",
      "label"     :   "404 Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_article",
      "label"     :   "Article Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_blog",
      "label"     :   "Blog Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_cart",
      "label"     :   "Cart Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_collection",
      "label"     :   "Collection Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_index",
      "label"     :   "Index Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_product",
      "label"     :   "Product Page",
      "default"   :   true
    },
    {
      "type"      :   "checkbox",
      "id"        :   "page_search",
      "label"     :   "Search Page",
      "default"   :   true
    }
	]
}
{% endschema %}
