{% include 'gallery-grid' %}

{% schema %}
{
  "name": "Grid Gallery",
  "class": "index-section index-gallery-grid",
  "settings": [
		{
			"type"      :   "checkbox",
			"id"        :   "onViewLoad",
			"label"     :   "On View Load this section",
			"default"   :   true
		}
	],
  "blocks": [
    {
      "type": "main_block",
      "name": "Main Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Now anyone can roti!"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description",
          "default": "<p>Join the crowd! Check out what users have to say about the Rotimatic here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
		{
          "type": "checkbox",
		  "id": "show_play_icon",
          "label": "Play Icon",
		  "default": true
		},
		{
          "type": "image_picker",
          "id": "play_icon",
          "label": "Play Icon"
        },
		{
          "type": "checkbox",
          "id": "button_popup",
          "label": "Modal Popup",
          "default": true
		}
      ]
    },
    {
      "type": "other_block",
      "name": "Other Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "other_image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description",
          "default": "<p>A potential game changer for roti-loving households</p>"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Background Color"
        },
        {
          "type"    :   "url",
          "id"      :   "link",
          "label"   :   "Block Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Gallery",
      "category": "Grid Gallery"
    }
  ]
}
{% endschema %}
