{%-liquid
  assign ss     =     section.settings
-%}

{% if ss.showHideSec %}
  <div class="waitlist-popup-main">
    <div class="waitlist-popup-container">
      <div class="waitlist-cancel">
        <img src="{{ "close.png" | asset_url }}" alt="Waitlist Close" />
      </div>
      <div class="waitlist-popup-content popup-content-mobile">
        <h3>Join our waitlist</h3>
        <p>Be the first to know when Rotimatic is available. Sign up today!</p>

        <div class="waitlist-popup-image mobile-image">
          <img src="{{ "waitlist-mobile.png" | asset_url }}" alt="Mobile Join our waitlist" />
        </div>
      </div>
      <div class="waitlist-popup-image desktop-image">
        <img src="{{ "waitlist-desktop.png" | asset_url }}" alt="Join our waitlist" />
      </div>
      <div class="waitlist-popup-content">
        <div class="waitlist-popup-content popup--content-desktop">
          <h3>Join our waitlist</h3>
          <p>Be the first to know when Rotimatic is available. Sign up today!</p>
        </div>

        {%- assign formId = 'Contact_waitlist' -%}

        {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}

          <input type="hidden" id="contact_info" name="contact[tags]" value="waitlist">
          <div class="input-filed">
            <div class="err_msg" style="font-family: font-family: 'Poppins', sans-serif;font-family: 'Poppins', sans-serif;text-align: center;color: red;"></div>
          </div>
          <div class="input-filed">
            <label class="visually-hidden" for="WaitlistName">Waitlist Name</label>
            <input type="text" id="WaitlistName" required name="contact[first_name]" placeholder="Name *">
          </div>

          <div class="input-filed">
            <label class="visually-hidden" for="WaitlistEmail">Waitlist Email</label>
            <input type="email" id="WaitlistEmail" required name="contact[email]" placeholder="Email Address *">
          </div>

          <div class="input-filed">
            <label class="visually-hidden" for="WaitlistPhone">Waitlist Phone</label>
            <input type="number" id="WaitlistPhone" required name="contact[phone]" placeholder="Enter Phone No With Country Code *">
          </div>

          <div class="input-button">
            <button class="btn" type="button" id="wishlist_btn" onclick="validate();">Join Waitlist</button>
          </div>

        {% endform %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Waitlist Popup",
  "class": "waitListPopup",
	"settings": [
		{
			"type"      :   "checkbox",
			"id"        :   "showHideSec",
			"label"     :   "Show / Hide Section",
			"default"   :   true
		}
	]
}
{% endschema %}
