<div class="page-width">
  <div class="grid" style="margin:0 !important;">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div id="flockler-embed-177fc4ca7a90262c201562d38061a995"></div> <script src="https://plugins.flockler.com/embed/177fc2c5e39095c09074bd1ab76f4bf5/177fc4ca7a90262c201562d38061a995" async></script>
        {%- comment -%}
        {{ page.content }}
        {%- endcomment -%}
      </div>
    </div>
  </div>
</div>
