#shopify-section-product-specifications {
  display: none;
}

.newTemp {
  margin-top: -6px;

  .pageWidth {
    padding-bottom: 60px;
  }
}

.main-content {
  padding-top: 0;
}

.site-footer {
  margin-top: 0;
}

