<div class="faq-section-inner">
  <div class="faq-tabs">
    {% include 'faq-section' %}
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "class": "bg-white faq-section",
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "category-title",
          "label": "Category Title"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "anwser",
          "label": "Anwser"
        }
      ]
    }
  ],
  "presets":[
			{
				"category":"image",
				"name": "faq"
			}
			]
}
{% endschema %}