{% for block in section.blocks %}
  {% if block.type == 'here_blocks' %}
    <div class="here_blocks">
      <div class="here-block-image">
        <img class="lazyload"
          src="{{ block.settings.image | img_url: 'master' }}"
          alt="{{ block.settings.image.alt | escape }}" />
      </div>

      <div class="here-block-content">
        {% if block.settings.title != blank %}
          <h3>{{ block.settings.title }}</h3>
        {% endif %}

        {% if block.settings.text != blank %}
          {{ block.settings.text }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}