<link rel="stylesheet" href="{{ 'trackYourOrder.css' | asset_url }}">

{%-liquid
  assign pageIs   =   page.handle
-%}
{% if pageIs == 'track-your-order' %}

  <div class="fullWidthPage_Wrapper">
    <div class="fullWidthPage" step="1" style="background-image: url({{ 'trackPage.png' | asset_url }});">
      <div class="page-width">
        <div class="grid_2">
          <div class="formArea">
            <div class="_title_">
              Track when your Rotimatic is coming home!
            </div>

            <div class="subTitle_type">
              <div class="orderNumber_">Check with order number</div>
              <div class="trackingNumber_" style="display: none;">Check with Tracking ID</div>
            </div>

            <div class="orderNumberBlock actionBlock">
              <input type="text" class="orderNumber" placeholder="Order Number" value="">
              <div class="errMsg"></div>
              <input type="text" class="email" placeholder="Registred email ID" value="">
              <div class="errMsg"></div>
              <button class="trackOrder__by_orderNumber">
                Track Order
              </button>
              <div class="resErr"></div>

              <div class="linkWrapper">
                <a href="javascript://" class="_link_" target-class=".trackingNumberBlock,.trackingNumber_">
                  Check with Tracking ID
                </a>
              </div>
            </div>

            <div class="trackingNumberBlock actionBlock" style="display: none;">
              <input type="text" class="trackingNumber" placeholder="Tracking ID" value="">
              <div class="errMsg"></div>
              <button class="trackOrder__by_trackingNumber">
                Track Order
              </button>

              <div class="linkWrapper">
                <a href="javascript://" class="_link_" target-class=".orderNumberBlock,.orderNumber_">
                  Check with Order Number
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="fullWidthPage _hide_" step="2">
      <div class="page-width">
        <span class="_backBtn_">
          <svg fill="none" width="36" height="36" stroke="#F68945" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10"/><polyline points="12 16 16 12 12 8"/><line x1="8" x2="16" y1="12" y2="12"/></svg>
        </span>

        <div class="orderStatusHead">
          <div class="_title_">
            Your order status
          </div>

          <div class="orderStatus" step-active="1">
            <div class="_item_" item="1">
              <svg class="pink" width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.681641 0.863647H2.92813L7.69729 14.3465H25.1973L28.3945 4.02648H4.04689" stroke="#FFD5B5" stroke-linecap="round"/><path d="M10.0846 19.1192H24.468C27.5616 19.1192 27.5616 14.3464 24.468 14.3464H7.69727" stroke="#FFD5B5" stroke-linecap="round"/><path d="M11.9701 21.5062C11.9701 22.9868 10.7696 24.1874 9.28961 24.1874C7.80781 24.1874 6.60645 22.9864 6.60645 21.5062C6.60645 20.0245 7.80795 18.8237 9.28961 18.8237C10.7695 18.8237 11.9701 20.0241 11.9701 21.5062Z" stroke="#FFD5B5"/><path d="M24.6976 21.5062C24.6976 22.9868 23.4972 24.1874 22.0171 24.1874C20.5354 24.1874 19.334 22.9864 19.334 21.5062C19.334 20.0245 20.5355 18.8237 22.0171 18.8237C23.497 18.8237 24.6976 20.0241 24.6976 21.5062Z" stroke="#FFD5B5"/><path d="M2.9248 3.20996H29.9703L26.7884 15.9372H6.90208L2.9248 3.20996Z" fill="#FFD5B5"/></svg>
              <svg class="white" width="33" height="28" viewBox="0 0 33 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3343 21.0002H26.5877C26.5877 21.0002 29.4996 21.0002 29.4996 18.2002C29.4996 15.4002 26.5877 14.7002 26.5877 14.7002H10.5996" stroke="white" stroke-linecap="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4541 23.8009C16.4541 25.7332 14.8875 27.3002 12.9556 27.3002C11.0222 27.3002 9.4541 25.7332 9.4541 23.8009C9.4541 21.8671 11.0222 20.3002 12.9556 20.3002C14.8875 20.3002 16.4541 21.8671 16.4541 23.8009Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M29.1812 23.8009C29.1812 25.7332 27.6145 27.3002 25.6826 27.3002C23.7492 27.3002 22.1812 25.7332 22.1812 23.8009C22.1812 21.8671 23.7492 20.3002 25.6826 20.3002C27.6145 20.3002 29.1812 21.8671 29.1812 23.8009Z" fill="white"/><path d="M5 3.50012H33L28.8 16.1001H9.11765L5 3.50012Z" fill="white"/><path d="M9.19981 14.7001L4.55815 1.40015H0.799805" stroke="white" stroke-linecap="round"/></svg>
              <div class="_statusText_">Confirmed</div>
            </div>
            <div class="_item_" item="2">
              <svg class="pink" width="36" height="25" viewBox="0 0 36 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.27295" y="4.04553" width="25.4545" height="20.6818" fill="#FFD5B5"/><path d="M14.2274 7.22728V1.86365H21.7729V7.22728V8.22728H22.7729H26.7223L18.0001 16.9494L9.27798 8.22728H13.2274H14.2274V7.22728Z" fill="white" stroke="#FFD5B5" stroke-width="2"/><line x1="1" y1="24.2273" x2="35" y2="24.2273" stroke="#FFD5B5" stroke-linecap="round"/></svg>
              <svg class="white" width="34" height="26" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4.77246" y="4.54553" width="24.4545" height="19.6818" fill="white" stroke="white"/><path d="M1.09082 24.7273H32.909" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M13.2274 7.22728V1.86365H20.7729V7.22728V8.22728H21.7729H25.7223L17.0001 16.9494L8.27798 8.22728H12.2274H13.2274V7.22728Z" fill="#7ED321" stroke="white" stroke-width="2"/></svg>
              <div class="_statusText_">Preparing</div>
            </div>
            <div class="_item_" item="3">
              <svg class="pink" width="45" height="28" viewBox="0 0 45 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M34.5459 7.63635H40.9095V14H44.0914V21.9545H34.5459V7.63635Z" fill="#FFD5B5" stroke="#FFD5B5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.09131 1.27271H34.5459V21.9545H9.09131V1.27271Z" fill="#FFD5B5" stroke="#FFD5B5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M39.3183 22.75C39.3183 24.9466 37.5377 26.7272 35.341 26.7272C33.1444 26.7272 31.3638 24.9466 31.3638 22.75C31.3638 20.5543 33.1444 18.7727 35.341 18.7727C37.5377 18.7727 39.3183 20.5543 39.3183 22.75Z" fill="white" stroke="#FFD5B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.8183 22.75C21.8183 24.9466 20.0377 26.7272 17.841 26.7272C15.6444 26.7272 13.8638 24.9466 13.8638 22.75C13.8638 20.5533 15.6444 18.7727 17.841 18.7727C20.0377 18.7727 21.8183 20.5533 21.8183 22.75Z" fill="white" stroke="#FFD5B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M40.9095 7.63635H34.5459L34.5459 13.9563L40.9095 14V7.63635Z" fill="white" stroke="#FFD5B5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.09126 8.43181H1.13672" stroke="#FFD5B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.0914 13.2045H7.50049" stroke="#FFD5B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.72745 13.2045H4.31836" stroke="#FFD5B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
              <svg class="white" width="45" height="28" viewBox="0 0 45 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M34.5459 7.63635H40.9095V14H44.0914V21.9545H34.5459V7.63635Z" fill="white" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.09131 1.27271H34.5459V21.9545H9.09131V1.27271Z" fill="white" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M39.3183 22.75C39.3183 24.9466 37.5377 26.7272 35.341 26.7272C33.1444 26.7272 31.3638 24.9466 31.3638 22.75C31.3638 20.5543 33.1444 18.7727 35.341 18.7727C37.5377 18.7727 39.3183 20.5543 39.3183 22.75Z" fill="#7ED321" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.8183 22.75C21.8183 24.9466 20.0377 26.7272 17.841 26.7272C15.6444 26.7272 13.8638 24.9466 13.8638 22.75C13.8638 20.5533 15.6444 18.7727 17.841 18.7727C20.0377 18.7727 21.8183 20.5533 21.8183 22.75Z" fill="#7ED321" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M40.9095 7.63635H34.5459L34.5459 13.9563L40.9095 14V7.63635Z" fill="#7ED321" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.09126 8.43181H1.13672" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.0914 13.2045H7.50049" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.72745 13.2045H4.31836" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
              <div class="_statusText_">Shipped</div>
            </div>
            <div class="_item_" item="4">
              <svg class="pink" width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.681641 29.3183H4.81077H29.318" stroke="#FFD5B5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25.3405 29.3182V0.681885H4.76744L4.65869 29.3182H25.3405Z" fill="#FFD5B5" stroke="#FFD5B5" stroke-linejoin="round"/><path d="M22.159 30.1138V3.86377H7.91546L7.84082 30.1138" stroke="white" stroke-width="2" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5908 18.1819H19.7726V15.0001H16.5908V18.1819Z" fill="white"/></svg>
              <svg class="white" width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.681641 29.3182H4.81077H29.318" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25.3405 29.3182V0.681885H4.76744L4.65869 29.3182H25.3405Z" fill="white" stroke="white" stroke-linejoin="round"/><path d="M22.159 30.1138V3.86377H7.91546L7.84082 30.1138" stroke="#7ED321" stroke-width="2" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5908 18.1818H19.7726V15H16.5908V18.1818Z" fill="#7ED321"/></svg>
              <div class="_statusText_">Delivered</div>
            </div>
            <div class="_item_" item="5">
              <svg enable-background="new 0 0 128 128" height="30" viewBox="0 0 128 128" width="30"><g><g><path d="M64,0C28.656,0,0,28.656,0,64s28.656,64,64,64s64-28.656,64-64S99.344,0,64,0z M64,120    C33.125,120,8,94.875,8,64S33.125,8,64,8s56,25.125,56,56S94.875,120,64,120z" fill="#B0BEC5"/></g></g><g><g><path d="M75.313,64l16.969-16.969c3.125-3.125,3.125-8.195,0-11.313c-3.117-3.125-8.188-3.125-11.313,0L64,52.688    L47.031,35.719c-3.125-3.125-8.195-3.125-11.313,0c-3.125,3.117-3.125,8.188,0,11.313L52.688,64L35.719,80.969    c-3.125,3.125-3.125,8.195,0,11.313c3.117,3.125,8.188,3.125,11.313,0L64,75.313l16.969,16.969c3.125,3.125,8.195,3.125,11.313,0    c3.125-3.117,3.125-8.188,0-11.313L75.313,64z" fill="#F44336"/></g></g></svg>
              <div class="_statusText_">Cancelled</div>
            </div>
          </div>
        </div>

        <div class="_prepairingData_">
          <strong>Dear <span class="customerName">CustomerName</span></strong>,<br><br>
          <div class="isCancelled">
            Order #: <span class="_orderNumber_"></span><br>
            This order has been cancelled.
          </div>
          <div class="notCancelled">
            Thank you for the order: <span class="_orderNumber_"></span><br>
            Your order date is <span class="orderDate">orderDate</span> and is currently being prepared for its journey towards you. <span class="shippingProfileName">ShippingProfileName</span><br><br>

            Order will be shipped <span class="startAndEndDate"></span> and you will get a tracking number to track its status in real time.
          </div>
        </div>

        <div class="shippingEstimate_">
          <div class="_item_">
            <div class="asc">
              <div>
                <strong>Order Date</strong>
              </div>
              <div class="orderDate"></div>
            </div>
          </div>
          <div class="_item_">
            <div class="asc">
              <div>
                <strong>Shipped between (est.)</strong>
              </div>
              <div class="estimatedShippingDates"></div>
            </div>
          </div>
        </div>

        <div class="afterShipTrackingData">
          <div class="__head__">
            <div class="expactedDelivery" title="YYYY-MM-DD"></div>
            <div class="lastStatus"></div>
          </div>
          <ul class="trackingData">Shipment on hold</ul>
        </div>

        <div class="orderDetail_lineItems">
          <div class="_lineItemHead_">
            <div class="_headItem_ _items_">Items</div>
            <div class="_headItem_ _qty_">Qty</div>
            <div class="_headItem_ _price_">Price</div>
          </div>

          <div class="_data_lineItems_"></div>

          <div class="_shipTaxDiscount_">
            <div class="_row_ shippingAndHandling">
              <div class="_content_">Shipping and Handling (All items)</div>
              <div class="_price_"></div>
            </div>
            <div class="_row_ tax">
              <div class="_content_">Tax</div>
              <div class="_price_"></div>
            </div>
            <div class="_row_ discount">
              <div class="_content_">Discount</div>
              <div class="_price_"></div>
            </div>
          </div>

          <div class="_total_">
            <div class="_row_">
              <div class="_content_">Total Amount</div>
              <div class="_price_"></div>
            </div>
          </div>

        </div>

        <div class="billShip">
          <div class="shipping">
            <div class="_bold_">
              Shipping address
            </div>
            <p></p>
          </div>
          <div class="billing">
            <div class="_bold_">
              Billing address
            </div>
            <p></p>
          </div>
        </div>

        <div class="note">
          <div class="centerIs">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.134 1.5C11.5189 0.833334 12.4811 0.833333 12.866 1.5L21.5263 16.5C21.9112 17.1667 21.4301 18 20.6603 18H3.33975C2.56995 18 2.08882 17.1667 2.47372 16.5L11.134 1.5Z" fill="#F68945"/><rect x="11" y="6" width="2" height="7" rx="0.999999" fill="white"/><rect x="11" y="14" width="2" height="2" rx="0.999999" fill="white"/></svg>
            <span class="noteText">Note:</span>
          </div>
          <p>
            If you require a change in shipping address, please contact our customer support via the app or email to <a href="mailto:support@rotimatic.com">support@rotimatic.com</a><br>
            Shipping address cannot be changed if the order is already shipped.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ 'trackYourOrder.js' | asset_url }}"></script>

{% else %}

  <div class="page-width">
    <div class="grid" style="margin:0 !important;">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="page-width secondPage" style="min-height: 300px;">
    <div class="as-track-button" data-size="medium" data-domain="rotimaticus.aftership.com" data-look-up-option="both" data-btn-bg-color="#F68945" data-hide-icon=true></div>
    <div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="https://button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>
  </div>

{% endif %}


