<!-- styles -->
<style>
.aboutus_banner {
    width: 100%;
    margin: 0;
    padding: 0;
}
.aboutus_banner img {
    height: auto;
    width: 100%; 
}

</style>



<!-- html code -->


<section class="aboutus_banner">
   <img src="{{'aboutus-banner.jpeg' | asset_url}}" alt="aboutus banner" />
</section>