<div class="section-rotimatic">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  <div class="product-section-rotimatic-item">
    {% include 'product-rotimatic' %}
  </div>
</div>

{% schema %}
{
  "name": "Product Rotimatic",
  "class": "products-section bg-white product-rotimatic-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Every Rotimatic comes complete with"
    }
  ],
  "blocks": [
    {
      "type": "product_rotimatic",
      "name": "Product Rotimatic",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Rotimatic Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Rotimatic Title",
          "default": "Kneading kit"
        }
      ]
    }
  ]
}
{% endschema %}