<div class="recipes_api">
  <div class="page-width">
    <div class="apiData">
      <div class="tabList"></div>
      <div class="recipesBlocks" loading="true"></div>
    </div>
  </div>
</div>
{%-liquid
  capture paramIs
    render '__getParam' with { paramStart: '?param=', paramEnd: 'g____' }
  endcapture
-%}

{% for aaa in page.__st %}
  {{ aaa.pageurl }}
{% endfor %}

<div class="recipeShowPage" param="{{ paramIs }}">
</div>