{%-liquid
  assign ss     =   section.settings
  assign sb     =   section.blocks
-%}

{% if ss.showHideSection %}
  <div class="page-width">
    {% for block in sb %}
      {% assign b = block.settings %}
      {% case block.type %}
        {% when 'review' %}
          {{ b.reviewSnippet }}
          {%- comment -%}
          <div class="loadSection" product-handle="{{ b.prod | handleize }}"></div>
          {%- endcomment -%}
        {% when 'sectionID' %}
          <div class="loadSection" sid="{{ b.sectionID }}"></div>
      {% endcase %}

    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Reviews Blocks",
  "class": "reviewsPage",
  "max_blocks": 2,
  "settings": [
    {
      "type"      :   "checkbox",
      "id"        :   "showHideSection",
      "label"     :   "Show / Hide Section",
      "default"   :   true
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "review",
      "settings": [
        {
          "type"    :   "textarea",
          "id"      :   "reviewSnippet",
          "label"   :   "Enter reviews snippet"
        }
      ]
    },
    {
      "type": "sectionID",
      "name": "sectionID",
      "settings": [
        {
          "type"    :   "text",
          "id"      :   "sectionID",
          "label"   :   "Enter section id"
        }
      ]
    }
  ]
}
{% endschema %}