<div class="page-width">
  {% if section.settings.title != blank and section.settings.text != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
      {% if section.settings.text != blank %}
        {{ section.settings.text }}
      {% endif %}
    </div>
  {% endif %}

  <div class="price-slider-range">
    <div class="roti-pm">Rotis/month</div>
    <input type="text" id="amount-roti" />

    <div class="cube">
      <div id="slider-range-min"></div>
    </div>

    <div class="calculate-roti">
      <div class="roti-item">
        <input type="text" id="frozen-roti" />
        <p>Buying Frozen rotis costs you</p>
      </div>

      <div class="roti-item">
        <input type="text" id="rotimatic-roti" />
        <p>Rotimatic rotis costs you</p>
      </div>
    </div>
  </div>

  <div class="price-save">
    <div class="save-ammount">
      <img src="{{ "Icon-Recipes-Dark-Grey.png" | asset_url }}">
      <p>You could save <span class="save-amount"><span>$</span><span class="amount123" style="font-size:40px !important">325</span></span></p>
    </div>

    <div class="save-text">
      {% if section.settings.save_text != blank %}
        {{ section.settings.save_text }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Roti Price Range",
  "class": "index-section price-range",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Light on your body… and on your wallet"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Calculate how much you can save with Rotimatic by reducing processed rotis, eating out and takeaways.</p>"
    },
    {
      "type": "richtext",
      "id": "save_text",
      "label": "Save Text",
      "default": "<p>That’s a lot to be spending on frozen rotis. Now you’ve saved enough for a little treat. A day out at the spa? A round of golf? Gift for the kids? Treat yourself!</p>"
    }
  ],
  "presets": [
    {
      "name": "Price Range",
      "category": "Price Range"
    }
  ]
}
{% endschema %}
