<link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}" />


<div class="about_slider">
  <div class="my_slider">
    <div class="article">
      <div class="top-section">
        <iframe
          width="250"
          height="150"
          src="https://www.youtube.com/embed/UBZxwwQxhO4?start=4"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Women now TV</div>
        <div class="description">Pranoti Nagarkar in Womens Now TV Feature</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/12ux02bmmi4"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Rishi at Smart Kitchen Summit</div>
        <div class="description">Rishi Israni speaks at the Smart Kitchen Summit 2018</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <img src="./The-storu-of-an-invention_pranoti.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="title">The Story of an Invention</div>
        <a href="https://www.linkedin.com/pulse/story-invention-pranoti-nagarkar-israni?trk=portfolio_article-card_title"
          >The Story of an inverntion - by Pranoti</a
        >
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_rcaoo1x8L8"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Wild Digital</div>
        <div class="description">Pranoti Nagarkar on Robotics, AI & IoT: Cooking Up A Storm in Your Kitchen</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <img src="./Future-Of-Kitchens_rishi.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="title">Future of Kitchen</div>
        <a href="https://www.linkedin.com/pulse/story-invention-pranoti-nagarkar-israni?trk=portfolio_article-card_title"
          >My View on Future of Kitchen - by Rishi Israni</a
        >
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/4b6ovLL3iEE"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">PMO National Day</div>
        <div class="description">National Day Rally Speech mention by PM Lee</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <img src="./A-trillion-dollar_rishi.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="title">A Trillion Dollar</div>
        <a href="https://www.linkedin.com/pulse/trillion-dollar-conversation-rishi-israni/?trk=portfolio_article-card_title"
          >A Trillion Dollar Conversation-By Rishi Israni</a
        >
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/l6ux-hDsCps"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Channel News Asia Interview</div>
        <div class="description">The invention story of Rotimatic</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <img src="./RM-on-tracj-to-saving-300-yrs_pranoti.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="title">Rotimatic on track to save 300</div>

        <a
          href="https://www.linkedin.com/pulse/rotimatic-track-saving-300-years-its-community-pranoti-nagarkar?trk=portfolio_article-card_title"
          alt=""
          >Track to save 300</a
        >
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/0Tl_1owXk2k"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Pranoti talks at Twitter</div>
        <div class="description">Pranoti Nagarkar at #SheInspiresMe forum for WD2019</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <img src="./How-we-got-here_rishi.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="title">How we got here?</div>
        <a
          href="https://www.linkedin.com/pulse/rotimatic-track-saving-300-years-its-community-pranoti-nagarkar?trk=portfolio_article-card_title"
          alt=""
          >Rotimatic on track to saving 300 years for its community -By Rishi Israni</a
        >
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/H6tNBTOylAQ"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Wall Street Journal Feature</div>
        <div class="description">Can Algorithms replace mom's cooking?</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ciJ8DL4yJ4M"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Rishi Israni at AWS Summit</div>
        <div class="description">Our Ceo, at Aws summit talk in Singapore.</div>
      </div>
    </div>

    <div class="article">
      <div class="top-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/LUqRatX2mFU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="content">
        <div class="title">Amazon CTO visits Zimplistic</div>
        <div class="description">
          Amazon's Now Go Build web - series starring Pranoti Nagarkar & Rishi Israni,Co-Founders, Zimplistic
        </div>
      </div>
    </div>

  </div>
</div>

<script>

window.addEventListener('load', function() {
  $(() => {
    $(document).ready(function(){

      $.getScript("{{ 'slick.min.js' | asset_url }}", function(){

        $('.my_slider').slick({
          slidesToShow: 4,
          slidesToScroll: 1,
          autoplay: true,
        //   focusOnSelect: true,
          pauseOnHover: false,
          arrow: true,
          autoplaySpeed: 900,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });

      });
    });
  })
})
</script>
