{%-liquid
  assign ss       =   section.settings
  assign cssFile  =   'blog-slider.scss.css' | asset_url
  assign jsFile   =   'blog-slider.js' | asset_url

  if ss.showHide_Slider

    echo '<link rel="stylesheet" href="' | append: cssFile | append: '">'

    assign bName = ss.blogIs

    if bName != blank

      assign articlesArray  =   blogs[bName].articles

      if articlesArray.size > 0

        echo '<div class="blogSlider loading">'

          for article in articlesArray limit: ss.howManyArticlesToDisplay

            assign articleImage   =   article.image.src | img_url: '600x'

            echo '<div class="slideItem">'
              echo '<img class="mainBlogImg" src="' | append: articleImage | append: '">'

              echo '<div class="slideContent">'

                echo '<div class="dateAuthorComment">'

                  echo '<div class="date_">'

                    echo article.published_at | date: "%B %d, %Y"

                  echo '</div>'

                  echo '<div class="author_">'

                    echo article.author

                  echo '</div>'

                  echo '<div class="comments_">'

                    echo article.comments_count | append: ' comments'

                  echo '</div>'

                echo '</div>'

                echo '<h2 class="title_">'

                  echo '<a href="' | append: article.url | append: '">'

                    echo article.title

                  echo '</a>'

                echo '</h2>'

                echo '<div class="content_">'

                  if article.excerpt != blank

                    echo article.excerpt

                  else

                    echo article.content | strip_html | truncate: 80

                  endif

                  if ss.linkLabel != blank

                    echo '<a class="continueReadingLink" href="' | append: article.url | append: '">'

                      echo ss.linkLabel

                    echo '</a>'

                  endif

                echo '</div>'

              echo '</div>'

            echo '</div>'

          endfor

        echo '</div>'

      endif

    endif

    echo '<script src="' | append: jsFile | append: '"></script>'

  endif
-%}


{% schema %}
{
  "name"    :   {
    "en"      :   "Slider"
  },
  "settings"    :   [
    {
      "type"      :   "checkbox",
      "id"        :   "showHide_Slider",
      "label"     :   {
        "en"      :   "Show Hide Slider"
      },
      "default"   :   true
    },
    {
      "type"      :   "blog",
      "id"        :   "blogIs",
      "label"     :   "label"
    },
    {
      "type"      :   "range",
      "id"        :   "howManyArticlesToDisplay",
      "label"     :   "How many articles to display in slider",
      "min"       :   3,
      "max"       :   10,
      "step"      :   1,
      "default"   :   4
    },
    {
      "type"      :   "text",
      "id"        :   "linkLabel",
      "label"     :   {
        "en"      :   "Label for Link"
      },
      "default"   :   "CONTINUE READING"
    }
  ]
}
{% endschema %}
