<div class="page-width">
	<div class="form-calculate-section">
		<div class="section-heading">
			{% if section.settings.title != blank  %}
				<h2>{{ section.settings.title }}</h2>
			{% endif %}
			{% if section.settings.text != blank  %}
				{{ section.settings.text }}
			{% endif %}
		</div>
		
		<div class="form-calculate">
			<div class="form-calculate-left">
				<div class="input-filed">
					<label for="people">How many people are in your family?</label>
					<input type="number" min="1" size="2" max="15" id="people" required="" name="" value="4" placeholder="4">
                  <span class="err_msg1"></span>
				</div>
				<div class="input-filed">
					<label for="rotis">How many rotis does each person in your family eat?</label>
					<input type="number" min="1" max="15" size="2" id="rotis" required="" name="" value="3" placeholder="3">
                  <span class="err_msg2"></span>
				</div>
				<div class="input-filed select-filed">
					<label for="eat">How often do you eat at home per week?</label>
					<select id="eat">
						<option value="7">Everyday</option>
						<option value="5" selected>Only on weekday's</option>
						<option value="3">Thrice a week</option>
						<option value="1">Once a week</option>
					</select>
				</div>
				<div class="input-button">
					<button class="btn" type="button" id="Calculate">Calculate</button>
				</div>
			</div>
			<div class="form-calculate-right">
				<div class="save-calculate">In the next 3 years <br/>you could save…</div>
				<div class="calculate-price">
					4,961<br/><span>USD</span>
				</div>
				<div class="calculate-day">
					24<br/><span>DAYS</span>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Form Calculate",
  "class": "index-section index-form-calculate",
  "settings": [
	{
      "type": "text",
	  "id": "title",
	  "label": "Heading"
	},
	{
      "type": "richtext",
      "id": "text",
      "label": "Description"
	}
  ],
  "presets": [
    {
      "name": "Custom Blocks",
      "category": "Custom Block"
    }
  ]
}
{% endschema %}
