<div class="recipes_api">
  <div class="page-width">
    <div class="apiData">
      <div class="tabList"></div>

      <div class="recipesBlocks">
        <div class="item">
          <a href="#__" class="recipeLink">
            <div class="recipes-details">
              <div class="recipes-tag">Snack</div>
              <div class="recipes-name">Roti Poha</div>
            </div>
            <div class="imgWrapper">
              <img src="https://ik.imagekit.io/rotimatic/wp-content/uploads/2018/05/Roti-Poha-thumbnail.jpg?tr=w-320" alt="Roti Poha">
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>