<div class="recipes_api">
  <div class="page-width">
    <div class="apiData">
      <div class="tabList"></div>
      <div class="recipesBlocks" loading="true"></div>
    </div>
  </div>
</div>

<div class="recipeShowPage">
  <div class="heroImageWrap">
    <div class="onImageContent">
      <div class="recipeCategory">
        Appetizer
      </div>
      <div class="recipeName">
        Roti Poha
      </div>
    </div>
    <img src="https://rotimatic.com/wp-content/uploads/2018/05/Roti-Poha-feature.jpg" alt="Roti Poha" class="heroImage">
  </div>

  <div class="socialIcons"></div>

  <div class="recipeDetail">
    <div class="page-width">
      <ul class="recipeTiming">
        <li class="item_">
          <strong>PREP:</strong>
          15-20 mins
        </li>
        <li class="item_">
          <strong>COOK:</strong>
        </li>
        <li class="item_">
          <strong>SERVES:</strong>
          2-3 pax
        </li>
      </ul>
    </div>

    <div class="page-width">
      <div class="recipeSettings">
        <div class="machineSettings">
          <div class="_head_">ROTIMATIC SETTING</div>
          <div class="_settings_">
            <div class="_item_">
              <div>RecipeRoti</div>
              <div>FlourAashirvaad</div>
            </div>
            <div class="_item_">
              <div>Thickness1</div>
              <div>Roast1</div>
            </div>
            <div class="_item_">
              <div>Oil1</div>
              <div>Oil1</div>
            </div>
          </div>
        </div>

        <div class="flourSettings">
          <div class="_head_">FLOUR MIX</div>
          <div class="_settings_">
            <div class="_item_">
              <div>RecipeRoti</div>
              <div>FlourAashirvaad</div>
            </div>
            <div class="_item_">
              <div>Thickness1</div>
              <div>Roast1</div>
            </div>
            <div class="_item_">
              <div>Oil1</div>
              <div>Oil1</div>
            </div>
          </div>
        </div>

        <div class="ingredientsSettings">
          <div class="_head_">INGREDIENTS</div>
          <div class="_settings_">
            <div class="_item_">
              <div>RecipeRoti</div>
              <div>FlourAashirvaad</div>
            </div>
            <div class="_item_">
              <div>Thickness1</div>
              <div>Roast1</div>
            </div>
            <div class="_item_">
              <div>Oil1</div>
              <div>Oil1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-width">
    <div class="instructions">
      <div class="_item_">
        <img src="https://rotimatic.com/wp-content/uploads/2018/05/Roti-Poha-prep1.jpg" class="instructionImg">
        <div class="_description_">
          <span class="stepNo">1</span>
          Make rotis using the roti settings on your Rotimatic, or use leftover rotis. In a food processor, mince the rotis to small bits.
        </div>
      </div>
      <div class="_item_">
        <img src="https://rotimatic.com/wp-content/uploads/2018/05/Roti-Poha-prep2.jpg" class="instructionImg">
        <div class="_description_">
          <span class="stepNo">2</span>
          Heat oil in a pan. Add cumin seeds and minced green chillies. When the cumin seeds splutter, add onion, ginger paste and curry leaves. When the onion becomes slightly brown, add potatoes and peas. Cover and cook untill the potatoes are soft.
        </div>
      </div>
      <div class="_item_">
        <img src="https://rotimatic.com/wp-content/uploads/2018/05/Roti-Poha-prep3.jpg" class="instructionImg">
        <div class="_description_">
          <span class="stepNo">3</span>
          Add the minced roti and mix well. Sprinkle 1 tbsp of water on the poha, then cover and cook for 3-4 mins. This will soften the roti. Add lemon juice and coriander leaves. Additionally you can add roasted peanuts, roasted cashew nuts, or bhujia.
        </div>
      </div>
    </div>

  </div>
</div>