<section class="warranty_header">
  <div class="warranty_header__content">
    <h1 class="warranty_header__h1">
      Enjoy More Peace Of Mind!
    </h1>

    <p class="warranty_header__detail">
      Rotimatic Care+ extends your 1-year base warranty for<br>
      up to 2 more years after standard warranty expires.
    </p>

  </div>
  <picture>
    <source media="(max-width: 699px)" srcset="{{ 'warranty_Banner_Mobile.png' | asset_url }}">
    <source media="(min-width: 700px)" srcset="{{ 'warranty_Banner.png' | asset_url }}">
    <img src="{{ 'warranty_Banner.png' | asset_url }}" class="warranty_header__banner" alt="Enjoy More Peace Of Mind!">
  </picture>
</section>