<section class="warranty_steps">
  <div class="page-width">
    <div class="_wrapper_">
      <h3 class="_heading_">
        Repair and Replacement
        process at your door step
      </h3>

      <div class="_stepsIconsBlock">
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step1_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            Step 1
          </div>
          <div class="_content_">
            Contact us via chat or email us at <a href="mailto: support@zimplistic.com">support@zimplistic.com</a>
          </div>
        </div>
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step2_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            Step 2
          </div>
          <div class="_content_">
            Our experts will contact you to diagnose the issue. Software issues can be
            fixed remotely. In case of hardware issue, we will let you know how to return your machine for repair or replacement.
          </div>
        </div>
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step3_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            Step 3
          </div>
          <div class="_content_">
            Just print the label, pack Rotimatic in the original box, and contact the logistics provider to arrange for pick up.
          </div>
        </div>
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step4_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            Step 4
          </div>
          <div class="_content_">
            Once your Rotimatic is picked up, we will ship a replacement unit that will be delivered within 4 - 10 days.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
