{%-liquid
  assign ss   =   section.settings
  assign sb   =   section.blocks
-%}
<section class="warranty_faqs">
  <div class="warranty_faqs__faqWrapper">
    <div class="warranty_faqs__title">
      {{ ss.title }}
    </div>

    {% for block in sb %}
      {% assign b = block.settings %}
      <div class="warranty_faqs__item">
        <div class="warranty_faqs__question">
          <div class="warranty_faqs__questionContent">
            {{ b.title }}
          </div>
          <div class="warranty_faqs__symbol"></div>
        </div>
        <div class="warranty_faqs__answer">
          {{ b.anwser }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name"    :   "FAQ",
  "settings": [
    {
      "type"      :   "text",
      "id"        :   "title",
      "label"     :   "Title",
      "default"   :   "FAQs"
    }
  ],
  "blocks": [
    {
      "type": "q_n_a",
      "name": "Question",
      "settings": [
        {
          "type"    :   "text",
          "id"      :   "title",
          "label"   :   "Question"
        },
        {
          "type"    :   "textarea",
          "id"      :   "anwser",
          "label"   :   "Anwser"
        }
      ]
    }
  ]
}
{% endschema %}