<section class="warranty_moreAbout_rotimatic">
  <div class="page-width warranty_moreAbout_rotimatic__innerWrap">
    <div class="warranty_moreAbout_rotimatic__rectangle">
      <h2 class="warranty_moreAbout_rotimatic__title">
        More About Rotimatic Care+ Coverage
      </h2>

      <div class="warranty_moreAbout_rotimatic__detail">
        Every Rotimatic comes with 1-year of complete hardware and software coverage. With RotimaticCare+ you can extend your warranty coverage for up to 2 more years so you can continue enjoying your Rotimatic worry-free.
      </div>

      <div class="warranty_moreAbout_rotimatic__blocks">
        <div class="warranty_moreAbout_rotimatic__blocks__item">
          <img src="{{ 'warranty_block_black.png' | asset_url }}">
          <div class="warranty_moreAbout_rotimatic__blocks__item__content">
            Hardware coverage with Service at your Doorstep
          </div>

          <ul class="warranty_moreAbout_rotimatic__blocks__item__showHide">
            <li>
              Covers repairs and replacements for all hardware defects.
            </li>
            <li>
              Product with hardware issue will either be repaired or replaced.
            </li>
            <li>
              Free pickup and delivery at your doorstep.
            </li>
            <li>
              User installable parts are not covered under warranty : Storage containers (flour, water and oil), kneading parts, cleaning kit, kicker, front door and power cord.
            </li>
          </ul>

          <div class="warranty_moreAbout_rotimatic__blocks__item__actions">
            <div class="showMore">Show more +</div>
            <div class="showLess">Show less -</div>
          </div>
        </div>
        <div class="warranty_moreAbout_rotimatic__blocks__item">
          <img src="{{ 'warranty_block_black_.png' | asset_url }}">
          <div class="warranty_moreAbout_rotimatic__blocks__item__content">
            Software support with Remote Troubleshooting
          </div>

          <ul class="warranty_moreAbout_rotimatic__blocks__item__showHide">
            <li>
              Swift troubleshooting of software issues via Cloud by experts, almost instantly, in the comfort of your home.
            </li>
            <li>
              24 X 7 access to our technical experts via Chat through the App.
            </li>
            <li>
              Request a video call with our technical experts via the App.
            </li>
            <li>
              Speak to our support agents with a callback appointment.
            </li>
          </ul>

          <div class="warranty_moreAbout_rotimatic__blocks__item__actions">
            <div class="showMore">Show more +</div>
            <div class="showLess">Show less -</div>
          </div>
        </div>
        <div class="warranty_moreAbout_rotimatic__blocks__item">
          <img src="{{ 'warranty_block_black__.png' | asset_url }}">
          <div class="warranty_moreAbout_rotimatic__blocks__item__content">
            Software support with Remote Troubleshooting
          </div>

          <ul class="warranty_moreAbout_rotimatic__blocks__item__showHide">
            <li>
              International coverage with full support in countries we serve.
            </li>
            <li>
              One-time exchange of original product with a refurbished product in the event of reallocation to a country we serve, to comply with different voltage requirements 
              (if under warranty).
            </li>
            <li>
              In case of an exchange due to reallocation, a shipping & handling fee of USD 199 will apply. (Refer to Terms of Sale)
            </li>
          </ul>

          <div class="warranty_moreAbout_rotimatic__blocks__item__actions">
            <div class="showMore">Show more +</div>
            <div class="showLess">Show less -</div>
          </div>
        </div>
      </div>

      <div class="warranty_moreAbout_rotimatic__showMoreBtn">
        <a href="javascript://void('showMore_or_less')">
          <span class="showLess_text">Show more</span> <span class="plusMinus"></span>
        </a>
      </div>

    </div>
  </div>

  <img src="{{ 'rotimaticshield.png' | asset_url }}" class="warranty_moreAbout_rotimatic__rightBottom">
</section>
