{{ 'theme_previous.scss.css' | asset_url | stylesheet_tag }}

<div class="page-waitlist">
  <div class="waitlist-content">
    <div class="page-width">
      {% section 'waitlist-left' %}
    </div>
  </div>
  <div class="page-content">
    {{ page.content }}
  </div>
</div>