.site-header__cart {
  svg {
    position: relative;
    top: 3px;
    width: 24px;
    height: 24px;
  }

  #CartCount {
    top: 7px;
    right: 5px;
  }
}

.site-header__account {
  svg {
    position: relative;
    top: 3px;
    width: 24px;
    height: 24px;
  }
}
