.main-content {
  padding-top: 0;
}

.recipes_slider[loading="true"] {
  max-height: 600px;
  overflow: hidden;
}

.recipes_slider .sliderWrapper .slide {
  position: relative;
}

.recipes_slider .sliderWrapper .slide h2 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  line-height: 3rem;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media (max-width: 768px) {
  .recipes_slider .sliderWrapper .slide h2 {
    font-size: 1.5rem;
  }
}

.recipes_slider .sliderWrapper .slide .slideImg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 640px;
}

.recipes_slider .sliderWrapper .slick-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 600px) {
  .recipes_slider .sliderWrapper .slick-dots {
    opacity: 0;
  }
}

.recipes_slider .sliderWrapper .slick-dots li.slick-active button {
  background-color: #0F1A26;
}

.recipes_slider .sliderWrapper .slick-dots li button {
  border-radius: 1000px;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.recipes_slider .sliderWrapper .slick-dots li button::before {
  opacity: 0;
}

.recipes_api {
  padding: 40px 15px;
}

.recipes_api .apiData .tabList {
  text-align: center;
}

.recipes_api .apiData .tabList a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
  line-height: 32px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 3px #838D98;
          box-shadow: 0 0 3px #838D98;
  border-radius: 50px;
  margin: 5px 10px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.recipes_api .apiData .tabList a:hover {
  background-color: #838D98;
  color: #fff;
}

.recipes_api .apiData .tabList a.selected {
  background-color: #838D98;
  color: #fff;
}

.recipes_api .apiData .recipesBlocks {
  -webkit-columns: 4;
          columns: 4;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-top: 25px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media (max-width: 900px) {
  .recipes_api .apiData .recipesBlocks {
    -webkit-columns: 3;
            columns: 3;
  }
}

@media (max-width: 650px) {
  .recipes_api .apiData .recipesBlocks {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media (max-width: 500px) {
  .recipes_api .apiData .recipesBlocks {
    -webkit-columns: 1;
            columns: 1;
  }
}

.recipes_api .apiData .recipesBlocks .item {
  margin-bottom: 15px;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  position: relative;
}

.recipes_api .apiData .recipesBlocks .item .recipes-details {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  z-index: 2;
}

.recipes_api .apiData .recipesBlocks .item .recipes-details .recipes-tag {
  font-size: 0.875rem;
  line-height: 1rem;
}

.recipes_api .apiData .recipesBlocks .item .recipes-details .recipes-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.recipes_api .apiData .recipesBlocks .item .imgWrapper {
  position: relative;
}

.recipes_api .apiData .recipesBlocks .item .imgWrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 25%;
  left: 0;
  bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 26, 38, 0)), to(rgba(15, 26, 38, 0.7)));
  background: linear-gradient(180deg, rgba(15, 26, 38, 0) 0%, rgba(15, 26, 38, 0.7) 100%);
}
/*# sourceMappingURL=recipes.css.map */