<!-- styles -->
<style>

.about_us{
    text-align: center;
    margin-bottom: 2rem;

}
.about_us h2, .about_us_carrer h2 {
    text-align: center
    color: #4a4a4a;
    margin: 0 0 2.5rem;
    padding: 5.375rem 0 0;
    letter-spacing: 1px;
    font-size: 1.875rem;

}

.about_us p, .about_us_carrer p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1.25rem;
}

.about_us_carrer a,
.about_us_carrer button {
    background: #f68945;
    border-radius: 1.5625rem;
    border: 1px solid #f68945;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    outline: none;
    padding: 1rem 2.125rem;
    transition: .3s;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
}

.about_us_carrer button:hover,
.about_us_carrer a:hover {
  background-color: white;
  color: #f68945;
}
</style>

<!-- html -->

    <div class="abou_content1">
        <div class="page-width">
         <div class="about_us">
             <h2>Be an integral part of change</h2>
             <p>
               At Rotimatic, we value creativity, diversity, and dedication. Different perspectives. Different ideas. Different cultures.
               We make sure each voice is heard.
             </p>
             <p>
               We are inventors,creators, disruptors and we look for people from around the world who are hungry, fierce, passionate,
               and will work to make a difference to the lives of our users. We are not afraid and we never say no. We aim to attract
               believers who are willing to put their ideas to test.
             </p>
             <p>
               We are transforming the way people cook and eat by bringing robotics to the kitchen top. With a revenue of USD 20 million
               in our first year, and 68+ million rotis made across 20 countries by 60,000+ happy families, we are the next big thing
               waiting to happen.
             </p>
             <p>Let’s do this. Together.</p>

             <div class="about_us_carrer">
               <h2>Career</h2>
               <p>
                 Rotimatic is home to engineers and creatives, misfits and number crunchers. We believe in doing things differently.
                 We’re headquartered in Singapore, and we invest in the people and projects that make our world better, weirder, and more
                 human.
               </p>
               <a href="https://rotimatic.com/pages/careers">View Job Openings</a>
             </div>
           </div>
        </div>
    </div>