{% for block in section.blocks %}
    {% if block.type == 'product_rotimatic' %}
      <div class="product-rotimatic-items">
        <div class="product-rotimatic-image">
          <img class="lazyload"
            src="{{ block.settings.image | img_url: '350x' }}"
            alt="{{ block.settings.image.alt | escape }}" />
        </div>

        {% if block.settings.title != blank %}
          <h3>{{ block.settings.title }}</h3>
        {% endif %}
      </div>
  {% endif %}
{% endfor %}