<div class="_galleryWrapper_">

  <div class="_thumbnails_">
    {%-liquid
      if product.media.size > 0
        echo '<ul class="thumbnails">'
          for img in product.media
            assign img_       =   img.src | img_url: '50x'
            assign mainImg_   =   img.src | img_url: '600x'
            assign firstIcon  =   ''

            if forloop.first
              assign firstIcon  =   ' active'
            endif

            assign videoTag   =   ''
            if img.media_type == 'external_video'
              capture videoTag
                assign videoTag__   =   img | external_video_tag

                assign videoTag__   =   videoTag__ | split: 'src="' | last | split: '"' | first
              endcapture
            endif

            echo '<li class="_item_' | append: firstIcon | append: '" main-img="' | append: mainImg_ | append: '" type="' | append: img.media_type | append: '" iframe-src="' | append: videoTag__ | append: '">'
              if img.media_type == 'external_video'
                echo '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20V0L20 9.26829L0 20Z" fill="white"/></svg>'
              else
                echo '<img src="' | append: img_ | append: '" alt="' | append: img.alt | append: '" class="_img_" img-id="' | append: img.id | append: '">'
              endif
            echo '</li>'
          endfor
        echo '</ul>'
      endif
    -%}
  </div>

  <div class="_mainProductImg_">
    {%-liquid
      assign mainImg    =   product.featured_image | img_url: '600x'
      echo '<img src="' | append: mainImg | append: '" class="_mainImg_" alt="' | append: product.featured_image.alt | append: '">'
      if videoTag__ != blank
        echo '<iframe class="_mainVideo_" src="' | append: videoTag__ | append: '" frameborder="0"></iframe>'
      endif
    -%}
  </div>

</div>