{{ 'theme_previous.scss.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-waitlist-left {
    display: flex;
  }
  footer.site-footer {
    margin-top: 0;
  }
  .waitlist-form [data-cf-field-type=phone] .cf-phone-field .cf-country-picker {
    text-align: left;
  }
</style>

<div class="page-waitlist">
  <div class="waitlist-content">
    <div class="page-width">
      {% section 'waitlist-left' %}
    </div>
  </div>
  <div class="page-content">
    {{ page.content }}
  </div>
</div>

