<link rel="stylesheet" href="{{ 'trackYourOrder.css' | asset_url }}">

<div class="page-width">
  <div class="grid" style="margin:0 !important;">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

{%-liquid
  assign pageIs   =   page.handle
-%}
{% if pageIs == 'track-your-order' %}
  <div class="page-width" style="min-height: 300px;">
    <div class="trackOrder__inputGrid">
      <input type="text" class="trackingNumber" placeholder="Enter Tracking Number" value="">
      <button class="trackOrder__btn">{{ 'pages.warranty.t5' | t }}</button>

      <div class="msg"></div>
    </div>

    <div class="showTrackingResult"></div>
  </div>

  <script src="{{ 'trackYourOrder.js' | asset_url }}"></script>

{% else %}
  <div class="page-width secondPage" style="min-height: 300px;">
    <div class="as-track-button" data-size="medium" data-domain="rotimaticus.aftership.com" data-look-up-option="both" data-btn-bg-color="#F68945" data-hide-icon=true></div>
    <div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="https://button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>
  </div>
{% endif %}
