{%-liquid
  assign cssFile    =     'review.css' | asset_url
  assign jsFile     =     'review.js' | asset_url
-%}
<link rel="stylesheet" href="{{ cssFile }}">
{% section 'reviews_blocks' %}
<script src="{{ jsFile }}"></script>
{%- comment -%}
<div class="page-reviews">
  {% section 'maestrooo-instagram' %}
  {{ page.content }}
</div>
{%- endcomment -%}
