$orangeColor: #F68945;

@mixin _galleryWrapper_() {
  ._galleryWrapper_ {
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 20px;
    height: 100%;

    ._thumbnails_ {
      order: 1;

      .thumbnails {
        text-align: center;

        ._item_ {
          display: grid;
          justify-content: center;
          padding: 10px;
          margin-bottom: 10px;
          background-color: #fff;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1px solid #BEBDBD;
          opacity: 0.5;
          cursor: pointer;

          &.active {
            opacity: 1;
            cursor: default;
          }

          ._img_ {
            object-fit: contain;
          }
        }
      }
    }

    ._mainProductImg_ {
      order: 2;
      text-align: center;
      display: grid;
      height: 650px;

      ._mainImg_ {
        max-width: 100%;
        align-self: center;
        object-fit: contain;
        max-height: 650px;
        margin-inline: auto;
      }
    }
  }
}

@mixin _productDetail_() {
  ._productDetail_ {

    ._variants_ {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 10px;
      border-bottom: 1px solid #CCD3DC;

      ._item_ {
        justify-content: center;
        color: #000;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 1px solid #CCD3DC;
        cursor: pointer;

        &:last-child {
          border-right-color: transparent;
        }

        &.selected {
          cursor: default;

          &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            width: 60%;
            height: 4px;
            background-color: $orangeColor;
            transform: translateX(-50%);
          }
        }

        ._title_ {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
        }

        ._price_ {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
        }
      }
    }

    .prodInfo {
      border: 1px solid red;
    }
  }
}

.pageWidth {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

main.main-content {
  padding-top: 0px;
}

.newTemp {
  padding-top: 100px;
  background: linear-gradient(180deg, #F6F6F6 59.78%, #DDE3E9 104.37%);

  ._grid_ {
    display: grid;
    grid-template-columns: 65% auto;

    @include _galleryWrapper_();

    @include _productDetail_();
  }

}
