{%-liquid
  assign ss       =   section.settings
  assign sb       =   section.blocks

  assign scssFile =   'faqNewTemp.scss.css' | asset_url

  if template == 'product.newTemp'
    echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'
  endif

  echo '<div class="faq-section-inner">'
    echo '<div class="faq-tabs">'
      include 'faq-section'
    echo '</div>'
  echo '</div>'
-%}

{% if template == 'product.newTemp' %}
  <script>
    $( document )
    .on('click', '.tab-title', function( e ) {
      try {
        e.stopImmediatePropagation();

        const isActive    =   $( this ).hasClass( 'active' );

        if ( isActive ) {
          $( this )
            .removeClass( 'active' )
            .next( '.tab-content' )
            .slideUp();
        } else {
          $( this )
            .addClass( 'active' )
            .next( '.tab-content' )
            .slideDown();
        }
      }
      catch ( err ) {
        console.log ( 'ERROR .tab-title', err.message );
      }
    })
  </script>
{% endif %}

{% schema %}
{
  "name"      :   "FAQ",
  "class"     :   "bg-white faq-section",
  "blocks"    :   [
    {
      "type"    :   "category",
      "name"    :   "Category",
      "settings":   [
        {
          "type"    :   "text",
          "id"      :   "category-title",
          "label"   :   "Category Title"
        }
      ]
    },
    {
      "type"    :   "question",
      "name"    :   "Question",
      "settings":   [
        {
          "type"    :   "text",
          "id"      :   "question",
          "label"   :   "Question"
        },
        {
          "type"    :   "richtext",
          "id"      :   "anwser",
          "label"   :   "Anwser"
        }
      ]
    }
  ],
  "presets" :   [
    {
      "category"  :   "image",
      "name"      :   "faq"
    }
  ]
}
{% endschema %}