{%-liquid
  assign ss       =     section.settings
  assign sb       =     section.blocks

  assign scssFile =     'three-block.scss.css' | asset_url

  echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'

  echo '<div class="page-width">'
    include 'three-blocks-grid'
  echo '</div>'

-%}

<script>
  window.addEventListener('load', function() {
    const settings    =   {
      "url"       :   "https://6vy310rw78.execute-api.us-east-1.amazonaws.com/prod/georegion/roticount",
      "method"    :   "GET",
      "timeout"   :   0,
      "headers"   :   {
        "x-api-key"   :   "W0Jy94dN5A7zD9Yb7wUzF2NbeWBY21h15YkiuJvz"
      }
    };

    $.ajax(settings).done(async function ( res ) {

      const region    =   $( 'body' ).attr( 'region' );

      if ( typeof findObjectByKey === 'function' ) {

        const rotiCountObj    =   await findObjectByKey( res, 'geo_region', region );

        $( '.homeThreeBlocks .block-grid-item .block-description .block_3' ).text( thousands_separators( rotiCountObj.roti_count ) );

      }

    });
  });
</script>


{% schema %}
{
  "name": "Three Blocks",
  "class": "index-section index-three-blocks homeThreeBlocks",
  "blocks": [
    {
      "type": "three_block",
      "name": "Three Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type"    :   "textarea",
          "id"      :   "svg",
          "label"   :   "SVG Code"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Blocks",
      "category": "Three Blocks"
    }
  ]
}
{% endschema %}
