{%-liquid
  assign ss       =     section.settings
  assign sb       =     section.blocks

  assign scssFile =     'product-happyMeals.scss.css' | asset_url

  echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'

  echo '<div class="sectionHappyMeals">'

    echo '<div class="page-width tac">'
      echo '<div class="_title_">'

        echo '<span class="orangeColor">'
          echo ss.numbers_
        echo '</span>'

        echo '<span>'
          echo ss.title
        echo '</span>'

      echo '</div>'

      echo '<div class="_details_">'
        echo ss.detail | newline_to_br
      echo '</div>'

    echo '</div>'

    echo '<div class="_svg_">'
      echo ss.svg
    echo '</div>'

    assign img__desktop       =   ss.img_desktop | img_url: '750x'
    echo '<img src="' | append: img__desktop | append: '" class="img__desktop">'

    assign img__mobile       =   ss.img_mobile | img_url: '750x'
    echo '<img src="' | append: img__mobile | append: '" class="img__mobile">'

    comment
      assign img_       =   'handImg.png' | asset_img_url: '260x'
      echo '<img src="' | append: img_ | append: '" class="handImg">'
    endcomment
  echo '</div>'
-%}

{% schema %}
{
  "name"      :   "Happy Meals",
  "class"     :   "sectionHappyMeals-section",
  "settings"  :   [
    {
      "type"    :   "checkbox",
      "id"      :   "showHide",
      "label"   :   "Show / Hide Section",
      "default" :   true
    },
    {
      "type"    :   "text",
      "id"      :   "numbers_",
      "label"   :   "Numbers",
      "default" :   "131,638,163"
    },
    {
      "type"    :   "text",
      "id"      :   "title",
      "label"   :   "Heading",
      "default" :   "One Rotimatic. Endlgess Possibilities."
    },
    {
      "type"    :   "textarea",
      "id"      :   "detail",
      "label"   :   "Detail Text",
      "default" :   "Rotimatic is connected device that learns and adapts through user feedback. The majority of users are happy with their Rotimatic’s cooking."
    },
    {
      "type"    :   "textarea",
      "id"      :   "svg",
      "label"   :   "Svg Code"
    },
    {
      "type"    :   "image_picker",
      "id"      :   "img_desktop",
      "label"   :   "Upload Image for Desktop"
    },
    {
      "type"    :   "image_picker",
      "id"      :   "img_mobile",
      "label"   :   "Upload Image for Mobile"
    }
  ]
}
{% endschema %}