{%-liquid
  assign ss       =     section.settings
  assign sb       =     section.blocks

  assign klarna   =     '<svg class="klarnaIcon" width="52" height="20" viewBox="0 0 52 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M45.8035 12.4053C45.4852 12.4065 45.1805 12.5414 44.9562 12.7801C44.732 13.0189 44.6067 13.342 44.6078 13.6785V13.6815C44.6069 13.8481 44.6372 14.0134 44.6968 14.1677C44.7563 14.322 44.8441 14.4624 44.955 14.5809C45.0659 14.6993 45.1979 14.7935 45.3432 14.858C45.4886 14.9226 45.6446 14.9562 45.8023 14.957H45.8045C46.4639 14.957 47 14.3856 47 13.6815C47.0009 13.5147 46.9708 13.3493 46.9112 13.1949C46.8516 13.0404 46.7638 12.8999 46.6528 12.7814C46.5418 12.6628 46.4098 12.5686 46.2643 12.5041C46.1188 12.4395 45.9627 12.406 45.8049 12.4053H45.8035ZM41.869 11.4208C41.869 10.4558 41.0963 9.67449 40.1429 9.67449C39.1896 9.67449 38.4168 10.4569 38.4168 11.4208C38.4168 12.3848 39.1908 13.1661 40.1441 13.1661C41.0975 13.1661 41.869 12.3848 41.869 11.4208ZM41.8757 8.02637H43.7804V14.8132H41.8759V14.3794C41.3206 14.7843 40.6618 15.0007 39.9872 15C38.1334 15 36.6304 13.3973 36.6304 11.4196C36.6304 9.44185 38.1332 7.83889 39.987 7.83889C40.6617 7.8376 41.3206 8.05414 41.8757 8.45953V8.02637ZM26.631 8.91088V8.02679H24.6806V14.8132H26.6355V11.6441C26.6355 10.574 27.721 10.0009 28.4748 10.0009H28.4972V8.02679C27.7239 8.02679 27.0141 8.38013 26.6327 8.91003L26.631 8.91088ZM21.7738 11.42C21.7738 10.455 21.001 9.67363 20.0477 9.67363C19.0943 9.67363 18.3216 10.4561 18.3216 11.42C18.3216 12.3839 19.0955 13.1653 20.0489 13.1653C21.0022 13.1653 21.7738 12.3839 21.7738 11.42ZM21.7805 8.02551H23.686V14.8132H21.7805V14.3794C21.2252 14.7843 20.5664 15.0007 19.8918 15C18.0379 15 16.5349 13.3973 16.5349 11.4196C16.5349 9.44185 18.0371 7.83889 19.891 7.83889C20.5656 7.8376 21.2246 8.05414 21.7797 8.45953L21.7805 8.02551ZM33.2462 7.84424C32.4858 7.84424 31.7656 8.09549 31.2824 8.7904V8.02679H29.386V14.8132H31.3063V11.2468C31.3063 10.2155 31.9541 9.70916 32.7362 9.70916C33.5729 9.70916 34.0552 10.2427 34.0552 11.2327V14.8132H35.9572V10.4976C35.9572 8.91837 34.7797 7.84381 33.2454 7.84381L33.2462 7.84424ZM13.7595 14.8132H15.7535V5.00235H13.7595V14.8132ZM5 14.8157H7.11198V5H5.00121L5 14.8157ZM12.3867 5C12.3867 7.12451 11.6105 9.10221 10.2265 10.5712L13.1449 14.8157H10.5377L7.36647 10.2035L8.18539 9.54907C8.85187 9.01916 9.39187 8.33181 9.76224 7.54194C10.1326 6.75207 10.3231 5.88157 10.3184 5H12.3867Z" fill="#4A4A4A"/><rect x="0.5" y="0.5" width="51" height="19" rx="3.5" stroke="#4A4A4A"/></svg>'
  assign splitIt  =     '<svg class="splititIcon" xmlns="http://www.w3.org/2000/svg" width="118" height="35" viewBox="0 0 118 35" fill="none"><path d="M2.30185 31.582C2.92674 32.0951 3.59152 32.5812 4.30948 32.9998C11.3428 37.118 20.3306 34.674 24.3858 27.5313C28.4409 20.3885 26.0344 11.2609 19.0011 7.14268C18.2831 6.72411 17.5386 6.37304 16.794 6.08949L2.30185 31.582Z" fill="#642F6C"/><path d="M24.0668 3.41618C23.4419 2.90309 22.7771 2.417 22.0591 1.99843C15.0258 -2.1198 6.03797 0.337633 1.96953 7.46689C-2.08562 14.6097 0.320875 23.7373 7.35423 27.8555C8.07219 28.2741 8.81675 28.6251 9.5613 28.9087L24.0668 3.41618Z" fill="white"/><path d="M2.30185 31.582C2.92674 32.0951 3.59152 32.5812 4.30948 32.9998C11.3428 37.118 20.3306 34.674 24.3858 27.5313C28.4409 20.3885 26.0344 11.2609 19.0011 7.14268C18.2831 6.72411 17.5386 6.37304 16.794 6.08949L2.30185 31.582Z" fill="#642F6C"/><path d="M24.0668 3.41618C23.4419 2.90309 22.7771 2.417 22.0591 1.99843C15.0258 -2.1198 6.03797 0.337633 1.96953 7.46689C-2.08562 14.6097 0.320875 23.7373 7.35423 27.8555C8.07219 28.2741 8.81675 28.6251 9.5613 28.9087L24.0668 3.41618Z" fill="#A77BCA"/><path d="M11.635 34.9983C9.13543 34.9983 6.60927 34.3502 4.29584 32.9999C3.57788 32.5813 2.9131 32.1088 2.28821 31.5822L5.25312 26.3838C5.9046 26.9374 6.59597 27.4369 7.35382 27.869C8.07178 28.2876 8.81633 28.6386 9.56089 28.9222L21.1014 8.62811C24.4918 11.5176 26.3532 15.7439 26.3532 20.0916C26.3532 22.6166 25.715 25.182 24.3855 27.545C21.6599 32.3248 16.7139 34.9983 11.635 34.9983Z" fill="#642F6C"/><path d="M9.56106 28.9221C8.80321 28.6386 8.07196 28.2875 7.354 27.8689C6.59615 27.4234 5.90478 26.9238 5.2533 26.3837L16.7939 6.07608C17.5517 6.35963 18.283 6.71069 19.0009 7.12927C19.7588 7.57485 20.4501 8.07443 21.1016 8.61453L9.56106 28.9221Z" fill="#A77BCA"/><g style="mix-blend-mode:multiply"><path d="M9.56106 28.9221C8.80321 28.6386 8.07196 28.2875 7.354 27.8689C6.59615 27.4234 5.90478 26.9238 5.2533 26.3837L16.7939 6.07608C17.5517 6.35963 18.283 6.71069 19.0009 7.12927C19.7588 7.57485 20.4501 8.07443 21.1016 8.61453L9.56106 28.9221Z" fill="#642F6C"/></g><path d="M39.45 26.7617C36.6313 26.7617 33.9988 25.9515 32.164 24.9658L32.8155 20.7531C34.9029 22.0763 37.469 22.873 39.4899 22.873C41.0056 22.873 41.7235 22.3599 41.7235 21.5227C41.7235 20.6046 41.2183 20.1995 38.732 19.5784C34.2913 18.4037 32.4166 17.202 32.4166 13.8264C32.4166 10.4913 34.8763 8.24988 39.1974 8.24988C41.5773 8.24988 43.8907 8.72246 45.7255 9.57311L45.0341 13.7859C43.1196 12.7192 40.9258 12.0981 39.224 12.0981C37.921 12.0981 37.3493 12.5706 37.3493 13.2728C37.3493 14.0019 37.8545 14.407 40.3408 15.1091C45.0341 16.3918 46.6961 17.607 46.6961 20.9421C46.6961 24.7093 44.1433 26.7617 39.45 26.7617Z" fill="#231F20"/><path d="M58.5822 26.6403C57 26.6403 55.8699 26.3432 54.8594 26.0191V32.4328L49.4082 33.2699V8.50655H54.2079L54.5669 10.883C55.7901 9.49222 57.3856 8.12848 59.6591 8.12848C63.3021 8.12848 66.0144 10.91 66.0144 16.9995C66.0144 23.8183 62.4778 26.6403 58.5822 26.6403ZM57.8908 13.0839C56.6942 13.0839 55.7635 13.813 54.8594 14.9202V21.7389C55.6173 22.1035 56.2289 22.2925 57.3457 22.2925C59.1805 22.2925 60.5632 20.8612 60.5632 17.3776C60.5632 14.3666 59.4464 13.0839 57.8908 13.0839Z" fill="#231F20"/><path d="M68.9391 26.4647V0.877655L74.4169 0V26.4647H68.9391Z" fill="#231F20"/><path d="M78.3926 26.4647V8.5065H83.8837V26.4647H78.3926Z" fill="#231F20"/><path d="M95.3576 26.7211C91.5683 26.7211 88.9358 25.3304 88.9358 20.7531V13.0162H86.5958V8.50642H88.9358V3.14597L94.3471 2.30882V8.50642H97.6976L98.389 13.0162H94.3471V19.8754C94.3471 21.3472 95.0385 21.9953 96.5143 21.9953C96.9796 21.9953 97.4184 21.9278 97.8173 21.8063L98.5086 26.3566C97.6311 26.6131 96.7935 26.7211 95.3576 26.7211Z" fill="#231F20"/><path d="M102.218 26.4646V9.12753H104.558V26.4646H102.218Z" fill="#A77BCA"/><path d="M115.633 26.7616C112.961 26.7616 111.192 25.695 111.192 22.5084V11.1799H108.56V9.12753H111.192V3.11897L113.533 2.7139V9.12753H117.468L117.787 11.1799H113.533V22.1033C113.533 23.8586 114.224 24.6283 116.059 24.6283C116.604 24.6283 117.255 24.5203 117.641 24.4392L118 26.4511C117.508 26.6131 116.644 26.7616 115.633 26.7616Z" fill="#A77BCA"/><path d="M81.1576 5.14433C79.9876 5.14433 79.0037 4.15865 79.0037 2.98395C79.0037 1.80924 79.9876 0.823563 81.1576 0.823563C82.3276 0.823563 83.2583 1.80924 83.2583 2.98395C83.2583 4.15865 82.3143 5.14433 81.1576 5.14433Z" fill="#231F20"/><path d="M103.415 4.94178C102.351 4.94178 101.46 4.03712 101.46 2.98394C101.46 1.91725 102.351 1.02609 103.415 1.02609C104.479 1.02609 105.329 1.93075 105.329 2.98394C105.329 4.05063 104.465 4.94178 103.415 4.94178Z" fill="#A77BCA"/></svg>'
  assign razorPay =     '<svg class="razorPayIcon" xmlns="http://www.w3.org/2000/svg" width="316" height="67" fill="#072654" viewBox="0 0 1896 401"><path fill="#3395FF" d="M122.63 105.7l-15.75 57.97 90.15-58.3-58.96 219.98 59.88.05L285.05.48"/><path d="M25.6 232.92L.8 325.4h122.73l50.22-188.13L25.6 232.92m426.32-81.42c-3 11.15-8.78 19.34-17.4 24.57-8.6 5.22-20.67 7.84-36.25 7.84h-49.5l17.38-64.8h49.5c15.56 0 26.25 2.6 32.05 7.9 5.8 5.3 7.2 13.4 4.22 24.6m51.25-1.4c6.3-23.4 3.7-41.4-7.82-54-11.5-12.5-31.68-18.8-60.48-18.8H324.4l-66.5 248.1h53.67l26.8-100h35.2c7.9 0 14.12 1.3 18.66 3.8 4.55 2.6 7.22 7.1 8.04 13.6l9.58 82.6h57.5l-9.32-77c-1.9-17.2-9.77-27.3-23.6-30.3 17.63-5.1 32.4-13.6 44.3-25.4a92.6 92.6 0 0 0 24.44-42.5m130.46 86.4c-4.5 16.8-11.4 29.5-20.73 38.4-9.34 8.9-20.5 13.3-33.52 13.3-13.26 0-22.25-4.3-27-13-4.76-8.7-4.92-21.3-.5-37.8 4.42-16.5 11.47-29.4 21.17-38.7 9.7-9.3 21.04-13.95 34.06-13.95 13 0 21.9 4.5 26.4 13.43 4.6 8.97 4.7 21.8.2 38.5zm23.52-87.8l-6.72 25.1c-2.9-9-8.53-16.2-16.85-21.6-8.34-5.3-18.66-8-30.97-8-15.1 0-29.6 3.9-43.5 11.7-13.9 7.8-26.1 18.8-36.5 33-10.4 14.2-18 30.3-22.9 48.4-4.8 18.2-5.8 34.1-2.9 47.9 3 13.9 9.3 24.5 19 31.9 9.8 7.5 22.3 11.2 37.6 11.2a82.4 82.4 0 0 0 35.2-7.7 82.11 82.11 0 0 0 28.4-21.2l-7 26.16h51.9L709.3 149h-52zm238.65 0H744.87l-10.55 39.4h87.82l-116.1 100.3-9.92 37h155.8l10.55-39.4h-94.1l117.88-101.8m142.4 52c-4.67 17.4-11.6 30.48-20.75 39-9.15 8.6-20.23 12.9-33.24 12.9-27.2 0-36.14-17.3-26.86-51.9 4.6-17.2 11.56-30.13 20.86-38.84 9.3-8.74 20.57-13.1 33.82-13.1 13 0 21.78 4.33 26.3 13.05 4.52 8.7 4.48 21.67-.13 38.87m30.38-80.83c-11.95-7.44-27.2-11.16-45.8-11.16-18.83 0-36.26 3.7-52.3 11.1a113.09 113.09 0 0 0-41 32.06c-11.3 13.9-19.43 30.2-24.42 48.8-4.9 18.53-5.5 34.8-1.7 48.73 3.8 13.9 11.8 24.6 23.8 32 12.1 7.46 27.5 11.17 46.4 11.17 18.6 0 35.9-3.74 51.8-11.18 15.9-7.48 29.5-18.1 40.8-32.1 11.3-13.94 19.4-30.2 24.4-48.8 5-18.6 5.6-34.84 1.8-48.8-3.8-13.9-11.7-24.6-23.6-32.05m185.1 40.8l13.3-48.1c-4.5-2.3-10.4-3.5-17.8-3.5-11.9 0-23.3 2.94-34.3 8.9-9.46 5.06-17.5 12.2-24.3 21.14l6.9-25.9-15.07.06h-37l-47.7 176.7h52.63l24.75-92.37c3.6-13.43 10.08-24 19.43-31.5 9.3-7.53 20.9-11.3 34.9-11.3 8.6 0 16.6 1.97 24.2 5.9m146.5 41.1c-4.5 16.5-11.3 29.1-20.6 37.8-9.3 8.74-20.5 13.1-33.5 13.1s-21.9-4.4-26.6-13.2c-4.8-8.85-4.9-21.6-.4-38.36 4.5-16.75 11.4-29.6 20.9-38.5 9.5-8.97 20.7-13.45 33.7-13.45 12.8 0 21.4 4.6 26 13.9 4.6 9.3 4.7 22.2.28 38.7m36.8-81.4c-9.75-7.8-22.2-11.7-37.3-11.7-13.23 0-25.84 3-37.8 9.06-11.95 6.05-21.65 14.3-29.1 24.74l.18-1.2 8.83-28.1h-51.4l-13.1 48.9-.4 1.7-54 201.44h52.7l27.2-101.4c2.7 9.02 8.2 16.1 16.6 21.22 8.4 5.1 18.77 7.63 31.1 7.63 15.3 0 29.9-3.7 43.75-11.1 13.9-7.42 25.9-18.1 36.1-31.9 10.2-13.8 17.77-29.8 22.6-47.9 4.9-18.13 5.9-34.3 3.1-48.45-2.85-14.17-9.16-25.14-18.9-32.9m174.65 80.65c-4.5 16.7-11.4 29.5-20.7 38.3-9.3 8.86-20.5 13.27-33.5 13.27-13.3 0-22.3-4.3-27-13-4.8-8.7-4.9-21.3-.5-37.8 4.4-16.5 11.42-29.4 21.12-38.7 9.7-9.3 21.05-13.94 34.07-13.94 13 0 21.8 4.5 26.4 13.4 4.6 8.93 4.63 21.76.15 38.5zm23.5-87.85l-6.73 25.1c-2.9-9.05-8.5-16.25-16.8-21.6-8.4-5.34-18.7-8-31-8-15.1 0-29.68 3.9-43.6 11.7-13.9 7.8-26.1 18.74-36.5 32.9-10.4 14.16-18 30.3-22.9 48.4-4.85 18.17-5.8 34.1-2.9 47.96 2.93 13.8 9.24 24.46 19 31.9 9.74 7.4 22.3 11.14 37.6 11.14 12.3 0 24.05-2.56 35.2-7.7a82.3 82.3 0 0 0 28.33-21.23l-7 26.18h51.9l47.38-176.7h-51.9zm269.87.06l.03-.05h-31.9c-1.02 0-1.92.05-2.85.07h-16.55l-8.5 11.8-2.1 2.8-.9 1.4-67.25 93.68-13.9-109.7h-55.08l27.9 166.7-61.6 85.3h54.9l14.9-21.13c.42-.62.8-1.14 1.3-1.8l17.4-24.7.5-.7 77.93-110.5 65.7-93 .1-.06h-.03z"/></svg>'


  capture dontUse
    form 'localization'
      assign currentCurrency   =   form.current_currency.iso_code
    endform
  endcapture

  capture viewAs
    render '__getParam' with { paramStart: 'view=' }
  endcapture

  assign collection__             =   collections[ss.rotiCollection]
  assign string__currency__code   =   'currency__' | append: currentCurrency
  assign vCurrency_Count          =   0
  assign isSelected               =   ''
  assign collectionProducts       =   collection__.products | sort: 'title-ascending'

  paginate collection__.products by 250

    for pro in collectionProducts

      for tag in pro.tags

        if tag contains string__currency__code

          if vCurrency_Count == 0
            assign v                  =   pro.selected_or_first_available_variant
            assign vCurrency_Count    =   vCurrency_Count | plus: 1
          endif

        endif

      endfor

    endfor

  endpaginate

  if ss.installmentShowHide

    if viewAs == 'getDetail'
      assign v            =   product.selected_variant
    endif

      capture installmentContent_
        assign variantPrice_        =   v.price

        assign installmentPriceIs   =   v.price | divided_by: ss.numberOfInstallment

        assign installmentPriceIs   =   installmentPriceIs | money_without_currency

        if currentCurrency == 'DKK' or currentCurrency == 'NOK' or currentCurrency == 'QAR'
          assign abc                  =   installmentPriceIs | split: ',' | first
          assign abc                  =   abc | remove: '.'
        else
          assign abc                  =   installmentPriceIs | split: '.' | first
        endif

        assign installmentPriceIs   =   abc | append: '/mo'

        assign content__            =   ss.installmentContent

        if content__ contains '[installment/mo]'
          assign content__          =   content__ | replace: '[installment/mo]', installmentPriceIs
        endif

        if content__ contains '[percent]'
          assign content__          =   content__ | replace: '[percent]', ss.apr
        endif

        echo content__

      endcapture

      echo '<div class="_installment_" installment-content="^' | append: installmentContent_ | append: '^_installmentContent" number-of-installments="^' | append: ss.numberOfInstallment | append: '^_installments" splitit-content="^' | append: ss.splitItContent | append: '^_splitit" klarna-content="^' | append: ss.klarnaContent | append: '^_klarna" selected-collection="^^^^^' | append: ss.rotiCollection | append: '^^^^^" loading>'
        echo '<span>'
          echo installmentContent_
        echo '</span>'

        if currentCurrency == 'USD'

          echo klarna

        elsif currentCurrency == 'INR'

          echo razorPay

        else

          echo splitIt

        endif
      echo '</div>'

  endif
-%}

{% schema %}
{
  "name"      :   "Product Installment",
  "settings"  :   [
    {
      "type"      :   "collection",
      "id"        :   "rotiCollection",
      "label"     :   "Select Collection"
    },
    {
      "type"      :   "header",
      "content"   :   "Installment"
    },
    {
      "type"      :   "checkbox",
      "id"        :   "installmentShowHide",
      "label"     :   "Installment Show / Hide",
      "default"   :   true
    },
    {
      "type"      :   "textarea",
      "id"        :   "installmentContent",
      "label"     :   "Installments Content",
      "default"   :   "Monthly installments as low as [installment/mo]. with [percent] APR"
    },
    {
      "type"      :   "range",
      "id"        :   "numberOfInstallment",
      "label"     :   "Installments of installment",
      "default"   :   4,
      "min"       :   1,
      "max"       :   24,
      "step"      :   1
    },
    {
      "type"      :   "text",
      "id"        :   "apr",
      "label"     :   "APR Percentage",
      "default"   :   "0%"
    },
    {
      "type"      :   "textarea",
      "id"        :   "splitItContent",
      "label"     :   "Splitit Installments Content",
      "default"   :   "Upto 4 installments with 0% APR"
    },
    {
      "type"      :   "textarea",
      "id"        :   "klarnaContent",
      "label"     :   "Klarna Installments Content",
      "default"   :   "Upto 4 installments & upto18 month financing for cart value above. (Available in US only)"
    }
  ]
}
{% endschema %}
