{%-liquid
  assign ss       =     section.settings
  assign sb       =     section.blocks

  assign scssFile =     'product-usp.scss.css' | asset_url

  echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'

  echo '<div class="sectionUsp">'
    comment
      echo '<div class="page-width tac">'
        if ss.title != blank
          echo '<h2 class="h2">'
            echo ss.title | escape
          echo '</h2>'
        endif
      echo '</div>'
    endcomment

    echo '<div class="page-width">'
      assign product_uspArr   =   sb | where: 'type', 'product_usp'

      if product_uspArr.size > 0

        echo '<div class="_makeGrid_">'
          for block in product_uspArr
            assign b      =   block.settings

            if b.showHideItem

              echo '<div class="_item_">'
                if b.svg != blank
                  echo '<div class="_icon_">'
                    echo b.svg
                  echo '</div>'
                endif

                echo '<div class="_textContent_">'
                  echo b.text | newline_to_br
                echo '</div>'
              echo '</div>'

            endif
          endfor
        echo '</div>'
      endif

    echo '</div>'

  echo '</div>'

-%}

{% schema %}
{
  "name"      :   "Product USP",
  "class"     :   "products-section products-gradient product-usp-section",
  "settings"  :   [
    {
      "type"    :   "text",
      "id"      :   "title",
      "label"   :   "Heading",
      "default" :   "One Rotimatic. Endlgess Possibilities."
    }
  ],
  "blocks"    :   [
    {
      "type"    :   "product_usp",
      "name"    :   "Product USP",
      "settings":   [
        {
          "type"    :   "checkbox",
          "id"      :   "showHideItem",
          "label"   :   "Show / Hide",
          "default" :   true
        },
        {
          "type"    :   "image_picker",
          "id"      :   "image",
          "label"   :   "USP Image"
        },
        {
          "type"    :   "textarea",
          "id"      :   "svg",
          "label"   :   "Svg Code"
        },
        {
          "type"    :   "textarea",
          "id"      :   "text",
          "label"   :   "USP Description",
          "default" :   "Fresh rotis in 90 seconds"
        },
        {
          "type"    :   "checkbox",
          "id"      :   "terms",
          "label"   :   "Terms Apply",
          "default" :   false
        },
        {
          "type"    :   "richtext",
          "id"      :   "terms_text",
          "label"   :   "Terms Description",
          "default" :   "<p>Return charges of *price* included</p>"
        }
      ]
    }
  ]
}
{% endschema %}