{%-liquid
	assign ss				=		section.settings
	assign sb				=		section.blocks

	assign scssFile	=		'product-specifications.scss.css' | asset_url

	echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'


	echo '<div class="section-specifications">'
		if ss.title != blank
			echo '<div class="section-header text-center">'
				echo '<h2>'
					echo ss.title | escape
				echo '</h2>'
			echo '</div>'
		endif

		echo '<div class="product-section-specifications-item">'
			include 'product-specifications'
		echo '</div>'
	echo '</div>'

-%}

<div class="see-all-flours-popup">
	<div class="see-all-flours-popup-container">
		<div class="all-flours-close-popup"></div>
		<div class="see-all-flours-popup-inner">
			<div class="popup-flours-item active">
				<div class="popup-item-title">Recommended flour brands</div>
				<div class="popup-item-content-main">
					<div class="popup-item-content">These flour brands have been tested by our food technicians to provide you the best results when making rotis and puris. We are constantly researching to add more flour brands to this list.</div>

					<div class="flour-brand-details">
						<div class="flour-brand-table">
							<table>
								<thead>
									<tr>
										<th>Flour Name</th>
										<th>Flour Settings</th>
									</tr>
								</thead>
								<tbody>
									{% assign flour_data = settings.flour_data | split: "," %}
									{% for flour in flour_data %}
										<tr>
											<td>{{ flour | split: "|" | first }}</td>
											<td>{{ flour | split: "|" | last }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="popup-flours-item with-blue-bg">
				<div class="popup-item-title">Alternative flour brands </div>
				<div class="popup-item-content-main">
					<div class="popup-item-content">Together with our users, we’ve tested a list of alternative flour brands. For best results, each flour has a recommended setting.</div>

					<div class="flour-brand-details">
						<div class="flour-brand-table">
							<table>
								<thead>
									<tr>
										<th>Flour Name</th>
										<th>Flour Settings</th>
									</tr>
								</thead>
								<tbody>
									{% assign flour_alternative_data = settings.flour_alternative_data | split: "," %}
									{% for flour in flour_alternative_data %}
										<tr>
											<td>{{ flour | split: "|" | first }}</td>
											<td>{{ flour | split: "|" | last }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$( document )
	.on('click', `.all-flours-popup[href="javascript://void(showFloursList);"]`, function( e ) {
		try {
			e.stopImmediatePropagation();
			$( `.see-all-flours-popup` ).show();
			$( `body` ).css('overflow', 'hidden');
		}
		catch ( err ) {
			console.log ( 'ERROR .all-flours-popup[href="javascript://void(showFloursList);"]', err.message );
		}
	})

	.on('click', `.see-all-flours-popup .see-all-flours-popup-inner .popup-flours-item`, function( e ) {
		try {
			e.stopImmediatePropagation();

			$( `.see-all-flours-popup .see-all-flours-popup-inner .popup-flours-item` ).removeClass( 'active' );
			$( this ).addClass( 'active' );
		}
		catch ( err ) {
			console.log ( 'ERROR .see-all-flours-popup .see-all-flours-popup-inner .popup-flours-item', err.message );
		}
	})

	.on('click', `.see-all-flours-popup .see-all-flours-popup-container .all-flours-close-popup`, function( e ) {
		try {
			e.stopImmediatePropagation();

			$( this ).closest( '.see-all-flours-popup' ).hide();
			$( `body` ).css('overflow', 'unset');
		}
		catch ( err ) {
			console.log ( 'ERROR .see-all-flours-popup .see-all-flours-popup-container .all-flours-close-popup', err.message );
		}
	})
	;
</script>

{% schema %}
{
  "name"			: 	"Product Specifications",
  "class"			: 	"products-section products-blue product-specifications-section",
  "settings"	: 	[
    {
      "type"		: 	"text",
      "id"			: 	"title",
      "label"		: 	"Heading",
      "default"	: 	"Specifications"
    }
  ],
  "blocks"		: 	[
    {
      "type"		: 	"product_specifications",
      "name"		: 	"Product Specifications",
      "settings": 	[
        {
          "type"		: 	"image_picker",
          "id"			: 	"image",
          "label"		: 	"Specifications Image"
        },
				{
					"type"		: 	"textarea",
					"id"			: 	"svg",
					"label"		: 	"Svg Code"
				},
        {
          "type"		: 	"text",
          "id"			: 	"title",
          "label"		: 	"Specifications Title",
          "default"	: 	"voltage"
        },
        {
          "type"		: 	"textarea",
          "id"			: 	"text",
          "label"		: 	"Specifications Description",
          "default"	: 	"110V (Canada, USA) 220V (Singapore, UK, Australia, Singapore, Hong Kong, Europe and Middle East) 220V (Singapore, UK, Australia)"
        },
				{
          "type"		: 	"checkbox",
		  		"id"			: 	"see_all_flours",
		  		"label"		: 	"See all flours",
		  		"info"		: 	"Only for one"
				}
      ]
    }
  ]
}
{% endschema %}