@import 'global.scss';

.site-header__cart {
  svg {
    position: relative;
    top: 3px;
    width: 24px;
    height: 24px;
  }

  #CartCount {
    top: 7px;
    right: 5px;
  }
}

.site-header__account {
  svg {
    position: relative;
    top: 3px;
    width: 24px;
    height: 24px;
  }
}

.site-header__logo-image {
	max-width: 140px;
}

// REVIEW PAGE
.spr-summary-actions-newreview {
	padding: 7px 15px;
	border-radius: 100px;
	background-color: $colorOrange;
  color: #fff;
  white-space: nowrap;
  display: inline-block;

  &:hover {
    color: #fff !important;
  }
}

#currency-list {

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
  }

  .disclosure-list__item {
    padding: 5px 15px 4px 15px;
  }

}

main#MainContent {

  div.shopify-section {

    &.index-gallery-grid {

      padding-bottom: 0;

    }

  }

}
