@import 'defines.scss';

.innerPage {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 24px;

  @media ( max-width: $breakPoint_700 ) {
    grid-template-columns: 100%;
  }

  > div {
    background-color: #fff;
    padding: 24px;
  }
}
